$xy-theme-color: #79d2d2;
$xy-theme-text-color: black;
$xy-theme-text-lignt-color:white;
$xy-theme-text-bg: #131100;


.xy-none-text {
  color: $xy-theme-text-lignt-color;
}

main {
  color: $xy-theme-color
}